/* demo styles */
.red {
  background-color: red;
}
.blue {
  background-color: darkblue;
}
.green {
  background-color: lightgreen;
}
.red, .blue, .green {
  padding: 4rem;
  margin: 4rem;
  font-size: 2rem;
  color: white;
}
